.accordion {
  $this: &;
  @apply flex flex-col overflow-hidden;

  &__items {
    @apply flex flex-col gap-y-3;
  }

  &__header {
    @apply cursor-pointer text-base sm:text-lg font-medium p-4 sm:py-4 sm:ps-7 pe-16 sm:pe-20 bg-black rounded-2xl sm:rounded-full overflow-hidden hover:bg-black hover:text-white bg-no-repeat /* bg-[url('/images/more.svg')] */ transition-colors duration-300;
    background-size: 40px;
    background-position: center right 15px;
  }

  &__body {
    @apply overflow-hidden max-h-0 opacity-0;

    &-wrapper {
      @apply p-7;
    }
  }

  &--expand {
    #{$this}__body {
      @apply opacity-100 max-h-full;
    }

    #{$this}__header {
      @apply /* bg-[url('/images/less.svg')] */ bg-black text-white;
    }
  }
}
